.site-header {
    padding: 2rem 1rem;
}

.site-title h1 {
    margin: 0.2em 0;
    font-size: 2.8rem;
    letter-spacing: 0.05em;
    font-weight: normal;
    text-align: center;
}

.divider {
    margin: 2rem auto;
    border: none;
    border-top: 2px solid #444;
    width: 475px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1rem;
    text-transform: lowercase;
    letter-spacing: 0.05em;
    margin-bottom: 75px;
}

nav a {
    text-decoration: none;
    color: #222;
    font-family: 'Cinzel', serif;
    font-size: 23px;
}

nav a:hover {
  text-decoration: underline;
}

h1{
    font-family: "Cinzel", serif;
}

@media (max-width: 460px){
    nav {
        gap: 1.6rem;
    }
    .site-title h1{
        font-size: 2.4rem;
    }
}

@media (max-width: 360px){
    nav {
        gap: 1rem;
    }
}