.margins {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
  }
  
  img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-height: 80vh;
    max-width: 80vw;
    border-radius: 4px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.margins img:hover{
    transform: scale(1.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

//OVERLAY

.overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .overlay img {
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.7);
    object-fit: contain;
  }
  
  
  .close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
  }

  .overlay img.zoomed {
    cursor: zoom-out;
  }