@use '@angular/material' as mat;
@import './app/themes/theme.css';

@include mat.core();

html, body { height: 100%; background-color: #efefef;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field{
    border:solid 2px;
    min-height: 50px;
    font-size: 100px;
}

.mdc-line-ripple, .mat-mdc-form-field-bottom-align{
    display: none;
}