@media(min-width: 1200px){
    .margins{
        margin: auto;
        width: 1280px;
    }
}

img{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-height: 60vh;
    max-width: 50vw;
}

h1 {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 50;
    font-size: 120px;
    margin: 0 0 0 20px;
    letter-spacing: 6px;
    line-height: 135px;
  }