button {
    width: 90%;
    margin-bottom: 40px;
}

h2{
    text-align: center;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 60px;
    font-weight: 120;
    margin: 0;
}

.button-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > * {
        width: 80%;
    }
}

.horizontal-flex{
    gap: 15px;
    > * {
        flex: 1;
        border: #b5c2b0 solid 3px;
        padding: 15px
    }
}

.margins{
    margin-left: 30px;
    margin-right: 30px;
}

h1{
    font-family: "Cinzel", serif;
    font-weight: 100;
}

@media (orientation: portrait){
    .horizontal-flex{
        flex-direction: column;
    }
}

@media(min-width: 1200px){
    .margins{
        margin: auto;
        width: 1280px;
    }
}