.margins{
    margin:auto;
    max-width: 100vw;
}

button{
    margin-top: 20px;
    padding: 5px 60px 5px 60px;
}

img{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-height: 50vh;
    max-width: 50vw;
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

.vertical-flex{
    margin-left:2px;
    margin-right:2px;
}

.horizontal-flex{
    gap: 10px;
}

p{
    font-size: 25px;
}

h1{
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 500;
    font-size: 120px;
    margin: 0;
    letter-spacing: 3px;
    margin-left: 5px;
}

@media(max-width: 480){
    .margins{
        width:95%
    }
}

@media(min-width: 1200px){
    .margins{
        width: 1280px;
    }
}